body
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: color .5s, background-color .5s;
}
a
{
    color: inherit;
}
header
{
    font-size: 26px;
    text-transform: uppercase;
    letter-spacing: 12px;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
main
{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
main figure
{
    position: fixed;
    top: 70px;
    bottom: 50px;
    display: none;
    width: 100%;
    margin: 0;
    background: center center / contain no-repeat;
    transition: left .5s;
}
main figure:nth-of-type(1),
main figure:nth-of-type(2),
main figure:nth-of-type(3)
{
    display: block;
}
main figure:nth-of-type(1)
{
    left: -100%;
}
main figure:nth-of-type(2)
{
    left: 0;
}
main figure:nth-of-type(3)
{
    left: 100%;
}
footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
}
