a
{
    color: inherit;
}
a:not(:hover)
{
    text-decoration: none;
}
html,
body,
header,
main,
footer,
article > figure
{
    min-width: 320px;
}
html,
body
{
    width: 100%;
    height: 100%;
}
body
{
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: color .7s, background-color .7s;
}
header
{
    font-size: 18px;
    line-height: 1.5em;
    letter-spacing: 7px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: .8;
    transition: top 1s;
}
header h1
{
    font: inherit;
    text-align: center;
    text-transform: uppercase;
    margin: 0 44px;
}
header svg
{
    position: absolute;
    display: none;
    margin: 4px;
    cursor: pointer;
    transition: opacity .2s;
}
header svg:not(:hover)
{
    opacity: .3;
}
footer
{
    font-size: 12px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
    opacity: 0.6;
    transition: bottom 1s;
}
main
{
    position: fixed;
    width: 100%;
    top: 65px;
    bottom: 35px;
    cursor: pointer;
}
article > figure
{
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
    width: 100%;
    margin: 0;
    background: center center / contain no-repeat;
    transition: left .7s;
}
article > figure:nth-of-type(1),
article > figure:nth-of-type(2),
article > figure:nth-of-type(3)
{
    display: block;
}
article > figure:nth-of-type(1)
{
    left: -100%;
}
article > figure:nth-of-type(2)
{
    left: 0;
}
article > figure:nth-of-type(3)
{
    left: 100%;
}
button
{
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 50%;
    border: none;
    padding: 0;
    z-index: 1;
    opacity: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: opacity .2s;
}
button path
{
    transition: fill .7s;
}
button.prev
{
    left: 0;
}
button.prev svg
{
    position: absolute;
    left: 10px;
}
button.next
{
    right: 0;
}
button.next svg
{
    position: absolute;
    right: 10px;
}
button:hover
{
    opacity: .2;
}
body.white
{
    color: #000;
}
body.white header path
{
    stroke: #000;
}
body.white button path
{
    fill: #000;
}
body[aria-busy=true] header
{
    top: -110px;
}
body[aria-busy=true] footer
{
    bottom: -40px;
}
@media (max-width: 640px)
{
    main
    {
        top: 90px;
    }
}
@media (max-width: 430px)
{
    main
    {
        top: 120px;
    }
}
@media (max-width: 370px)
{
    main
    {
        bottom: 45px;
    }
}
