.navbutton
{
    position: absolute;
    display: flex;
    border: none;
    padding: 0;
    opacity: 0;
    background: transparent;
    cursor: pointer;
    transition: opacity .2s;
    z-index: 1;
}
.navbutton svg
{
    position: absolute;
}
.navbutton svg path
{
    transition: fill .7s;
}
.navbutton.prevslide,
.navbutton.nextslide
{
    top: 0;
    bottom: 0;
    align-items: center;
    width: 30%;
}
.navbutton.prevalbum,
.navbutton.nextalbum
{
    justify-content: center;
    width: 100%;
    height: 30%;
    z-index: 2;
}
.navbutton.prevalbum
{
    top: 40px;
}
.navbutton.prevalbum svg
{
    top: 10px;
}
.navbutton.nextalbum
{
    bottom: 0;
}
.navbutton.nextalbum svg
{
    bottom: 10px;
}
.navbutton.prevslide
{
    left: 0;
}
.navbutton.prevslide svg
{
    left: 10px;
}
.navbutton.nextslide
{
    right: 0;
}
.navbutton.nextslide svg
{
    right: 10px;
}
.navbutton:hover
{
    opacity: .5;
}
